body {
  margin: 0;
  min-height: 100%;
}

.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // align-content: space-between;
    // align-items: center;
    // vertical-align: middle;
}


.flex-items {
    justify-content: center;
    align-content: center;
}

 .flex-item {
   display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}
