body {
  margin: 0;
  min-height: 100%;
}

// Patrick - ?
.flex-container {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    // align-content: space-between;
    // align-items: center;
    // vertical-align: middle;
}

// Patrick - ?
.flex-items {
    justify-content: center;
    align-content: center;
}

// Patrick - ?
.flex-item {
   display: flex;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}

// Natasha - Home
.btnLarge {
  font-size: 1.3em;
  text-decoration: none;
  color: #FFF;
  background-color: #ACACDE;
  text-align: center;
  letter-spacing: .5px;
  height: 54px;
  line-height: 54px;
  border: none;
  border-radius: 2px;
  outline: 0;
  padding: 0 2rem;
  text-transform: uppercase;
  transition-timing-function: ease-out;
  transition: .2s;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  cursor: pointer;
  margin-top: 30px;
}

// Natasha - Home
.wavesEffect {
  position: relative;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
  z-index: 1;
  will-change: opacity, transform;
  transition-timing-function: ease-out;
  transition: .3s;
}

// Natasha - Home
.title {
  font-size: 6em;
}

// Natasha - Home
.secondDivColor {
  background-color: #eea159;
}

// Natasha - Home
.thirdDivColor {
  background-color: purple;
}

.confirmOrderButton {
  margin-top: 5%;
  margin-left: 35%;
}

.confirmOrderDiv {
  width: 45%;
  margin-bottom: 10vh;
}

.confirmOrderMain {
  margin-top: 10vh;
}

.addOnsButtonMargin {
  margin-bottom: 50px;
}

.cursorPointer {
  cursor: pointer;
}
